<mat-toolbar class="header" color="white">
  <div>
    <div class="header__title">NOVA ADMISSÃO COOPERADO</div>
    <div class="header__subtitle">Cadastro / Admissão do Cooperado / Nova Admissão de Cooperado</div>
  </div>
  <span class="example-spacer"></span>
  <div matBadge="7" matBadgeColor="warn">
    <img class="logo" src="./assets/img/alerta.svg" alt="">
  </div>
  <img class="btn-viacred" src="./assets/img/btn-viacred.svg" alt="">
  <img class="logo" src="./assets/img/foto-perfil.png" alt="">
</mat-toolbar>
