.sidenav {
  background-color:#165C7D;
}

.mat-sidenav-content {
  background-color: #E7EEF1;
  height: 100%;
}

.logo {
  width: 60px;
  height: 60px;
  margin: 20px auto 16px;
}

.sidenav-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;

}

.sidenav {
  width: 85px;

  &__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    & > a {
      margin: 16px;
    }
  }
}
