<div class="dados-cooperado">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Situação cadastral do CPF</mat-card-title>
      <mat-card-subtitle>Consulta na receita federal</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="dados-cooperado__info">
        <div class="dados-cooperado__info--img">
          <img src="./assets/img/sem-imagem.png" alt="">
        </div>
        <div class="dados-cooperado__info--right">
          <div class="dados-cooperado__info--title">Nome</div>
          <div class="dados-cooperado__info--content">Mariane de Sousa Oliveira</div>
        </div>
      </div>
      <div class="dados-cooperado__info">
        <div class="dados-cooperado__info--img">
          <img src="./assets/img/check.png" alt="">
        </div>
        <div class="dados-cooperado__info--right">
          <div class="dados-cooperado__info--title">Situação do CPF</div>
          <div class="dados-cooperado__info--content">Regular</div>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Conta aplicação</mat-card-title>
      <mat-card-subtitle>Cooperativa Viacredi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="dados-cooperado__info">
        <div class="dados-cooperado__info--img">
          <img src="./assets/img/cartao.png" alt="">
        </div>
        <div class="dados-cooperado__info--right">
          <div class="dados-cooperado__info--title">Número da conta</div>
          <div class="dados-cooperado__info--content">557932-4</div>
        </div>
      </div>
      <div class="dados-cooperado__info">
        <div>
          <a href="#" class="link">Duplicar conta</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>Conta corrente</mat-card-title>
      <mat-card-subtitle>Cooperativa Viacredi</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="dados-cooperado__info">
        <div class="dados-cooperado__info--img">
          <img src="./assets/img/cartao.png" alt="">
        </div>
        <div class="dados-cooperado__info--right">
          <div class="dados-cooperado__info--title">Número da conta</div>
          <div class="dados-cooperado__info--content">778461-8</div>
        </div>
      </div>
      <div class="dados-cooperado__info">
        <div>
          <a href="#" class="link">Duplicar conta</a>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
